@{
  Layout = "_Layout";
}

@model University.Models.Department
@Html.ActionLink("Show all departments", "Index", null, new { @class="btn btn-info" })
<h4>Add Department</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.DepartmentName)
    @Html.TextBoxFor(model => model.DepartmentName)

    <input type="submit" value="Add new department" class="btn btn-info" />
}
