@{
  Layout = "_Layout";
}
@Html.ActionLink(" All Students", "Index", "Students", null, new { @class="btn btn-info fa fa-graduation-cap" })
@Html.ActionLink(" All Courses", "Index", "Courses", null, new { @class="btn btn-info fa fa-book" })
@Html.ActionLink(" All Departments", "Index", "Departments", null, new { @class="btn btn-info fa fa-bank" })
@Html.ActionLink(" All Majors", "Index", "Majors", null, new { @class="btn btn-info fa fa-bookmark-o" })
<h1>Welcome to the University!</h1>
