@{
  Layout = "_Layout";
}
@Html.ActionLink("See all students", "Index", "Students", null, new { @class="btn btn-info fa fa-graduation-cap" })
@Html.ActionLink("See all courses", "Index", "Courses", null, new { @class="btn btn-info fa fa-book" })
@Html.ActionLink("See all departments", "Index", "Departments", null, new { @class="btn btn-info fa fa-bank" })
@Html.ActionLink("See all majors", "Index", "Majors", null, new { @class="btn btn-info fa fa-scroll" })
<h1>Welcome to the University!</h1>
